
<div class="benvenuto">
  <p class="benvenutto">Benvenuto</p>
</div>

<section>
  <aside class="right">
    <%= image_tag 'truck9-16.jpg', class: 'truck-pic' %>
    <div class="bottom">
      <li class="one"><%= image_tag("pizza7.jpg")%></li>
      <li class="two"><%= image_tag("pizza6.jpg")%></li>
      <li class="three"><%= image_tag("pizza5.jpg")%></li>
    </div>
  </aside>

  <article class="left">
    <h1 class="making-pizza">Rossano's is the best pizza truck</h1>

    <h2 class="first">Ingredients</h2>
    <p class="first-p">Ingredients are everything to us. We handcraft our pizza sauces, salad
      dressings and signature dough daily using only the finest natural, unrefined
      ingredients. We allow our dough to rest at least a day, then hand toss it
      to ensure a delicious, golden crust. We also offer delicious, crispy,
      gluten-free crust. Our gourmet pizzas, salads and sandwiches are made when
      you order and topped with locally-grown and organic herbs and vegetables*,
      artisan meats and cheeses, and imported extra virgin olive oil.
    </p>
    <h2 class="seconde">Preparation</h2>
    <p class="seconde-p">
      Most Neapolitan pizza recipes call for placing tomatoes right onto the
      dough. The San Marzano variety of tomato is a type of Italian tomato that
      is most often used on Neapolitan pizza. You can find canned San Marzano
      tomatoes in many grocery stores in the United States these days.

      But recently, Alex and I discovered an even better trick for making a tomato
      sauce that was closer to what we remember from our Neapolitan pizza. Using
      fire-roasted tomatoes! They have a flavor that’s extremely sweet right out of
      the can. This Easy Pizza Sauce uses just 5 ingredients to make a flavor-popping
      pizza sauce that reminds us of the best pizza in Naples Italy.
    </p>
  </article>
</section>
