
<div class="benvenuto">
  <p class="benvenutto">Truck Location</p>
</div>

<section id="google-map">

<div id="location-info" data-lat= <%= @lat %> data-lng=<%= @lng %>></div>


  <div id="map"></div>
</section>
