
<div class="benvenuto">
  <p class="benvenutto">Truck Location</p>
</div>

<section id="google-map">
  <% if (current_user.admin?) %>
  <input id="autocomplite" type="text" placeholder="Search..." value="">
  <button id="button-truck" type="button" name="button">Clean Search</button>
  <% end %>
  <div id="map"></div>
</section>

<address id="createdAddress">
  <!-- <a href="https://maps.google.com/?q=lat: 42.3601, Washington, 20003">Cick here for directions</a> -->

</address>
