
<div class="benvenuto">
  <p class="benvenutto">Truck Location</p>
</div>

<section id="google-map">
  <input id="autocomplite" type="text" placeholder="Search..." value="">
  <button id="button-truck" type="button" name="button">Clean Search</button>
  <div id="map"></div>
</section>

<address class="">
  <h2 id="h1-address"><a href="https://maps.google.com/?q=1200 Pennsylvania Ave SE, Washington, 20003">Cick here for directions</a></h2>

</address>
