
<div class="benvenuto">
  <p class="benvenutto">Truck Location</p>
</div>

<section id="google-map">
  <% if (current_user.admin?) %>
  <input id="autocomplite" type="text" placeholder="Search..." value="">
  <button id="button-truck" type="button" name="button">Clean Search</button>
  <% end %>

  <address id="createdAddress">
  </address>
  
  <div id="map"></div>
</section>
