
<div class="benvenuto">
  <p class="benvenutto">Truck Location</p>
</div>

<section id="google-map">
  <input id="autocomplite" type="text" placeholder="Enter a New Address" value="">
  <div id="map"></div>
</section>
