<div class="benvenuto">
  <p class="benvenutto">Admin</p>
</div>


<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>

    <li><%= link_to "Sign In", new_user_session_path %></li>
  </ul>

  <% else %>

  <ul>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
  </ul>




<% end %>
