<header>
  <aside class="left">
    <a href="#">MI CORNICELLO</a>
  </aside>
  <nav>
    <ul>
      <li class="top-left"><a href="#">Where We Are</a></li>
      <li class="top-right"><a href="#">Order Online</a></li>
      <li class="b1"><a href="#">Our Story</a></li>
      <li class="b2"><a  href="#">The Truck</a></li>
      <li class="b3"><a href="#">Menu</a></li>
      <li class="b4"><a href="#">Events</a></li>
    </ul>
  </nav>
  <aside class="right">
    <p class="phone"><a href="tel:+19542242846">{954} 224-2846</a></p>
    <p class="top">28</p>
    <p class="address">N Swinton Ave, Delrey Beach</p>
    <p class="bottom">Florida</p>
  </aside>

  <section>

  </section>

  <article class="">

  </article>

  <footer>

  </footer>
</header>
