body, article, nav, footer, section, header, ul, li, a,
h1, h2, p, img, aside {
  display: block;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Gill Sans", Charcoal, sans-serif;

}

nav ul {
  list-style: none;
  list-style-image: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}
