
body {

  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-height: 100%;
  min-width: 775px;
  max-width: 960px;
  background-color: white;
  overflow: auto;
}

/* header */

header {
  margin-top: 10px;
  width: 100%;
  height: 145px;
  font-family: "Gill Sans", Charcoal, sans-serif;
}



header nav {
  font-size: 1em;
  font-variant: small-caps;
  float: left;
  width: 49%;
  height: 100%;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  margin-right: 0px;
}

nav.header ul li {
  float: left;
  margin: 0;
  font-weight: 350;
}

/* nav top links */
nav ul li.top-left, nav ul li.top-right {
  font-size: 1.6em;
  width: 49.79%;
  height: 90px;
  text-align: center;
  border-bottom: 4px double black;
  line-height: 87px;
}

ul li.b2, ul li.b3, ul li.b4 {
  font-size: 1.5em;
  line-height: 48px;
  width: 33.3%;
  text-align: center;
}

ul.header li a:visited, ul.header li a:link {
  color: black;
}

ul.header li a:hover, ul.header li a:active {
  color: #02A1DB;
}


header aside.left {
  width: 25%;
  height: 100%;
  float: left;
  background-image: url("logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

header aside.left a {
  font-size: 2.5em;
  text-align: center;
  line-height: 137px;
  font-weight: 200;
}

header aside.right {
  width: 25.6%;
  height: 100%;
  text-align: center;
  float: right;
}

aside.right p a {
  width: 100%;
}

aside.right p.phone {
height: 40%;
line-height: 100px;
font-size: 1.5em;
}


aside.right p.address {
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 21px;

}

/* benvenutto paragraph */

p.benvenutto {
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.4em;
  line-height: 58px;
  width: 338px;
  height: 59px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50px/20px;
  color: #02A1DB;
  font-weight: 600;
}

/* section */
section {
}

/* section image */
section aside.right  {
  width: 67%;
  float: right;
  border: 4px double black;
  margin-right: 2%;
  margin-left: 10px;
  margin-bottom: 10px;
}

section aside.right img {
  width: 100%;
}

div.bottom li {
  width: 33.2%;
  float: left;
  padding-top: 1px;
}

li.one, li.two {
  padding-right: 1px;
}

/* section article left */
section article.left {
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

section article.left h1 {
  font-size: 2em;
  font-weight: normal;

}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

section article.left p {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 300;
}

/* footer */

footer {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  border-top: 4px double black;
  width: 96%;
  height: 120px;
  margin-top: 60px;
}

footer div.left, footer div.right {
  padding-top: 10px;
  width: 27%;
  float: left;
  margin-bottom: 50px;
}


footer div.center {
  padding-top: 10px;
  width: 46%;
  float: left;
}

footer div p {
  padding: 2px;
}

footer div.center {
  text-align: center;
}

footer div.center ul li a  {
  font-size: 2em;
}
footer div.center ul li.insta {
  padding-top: 10px;
  padding-left: 38%;
  float: left;
}
footer div.center ul li.face {
  padding-top: 10px;
  padding-right: 38%;
  float: right;
}

footer div.right {
  text-align: left;
}
footer div.right h2 {
  padding-left: 53px;
}

footer div.right p {
  padding-left: 53px;
}


footer div.right p.location {
  padding-top: 7px;
  font-weight: 400;
  padding-left: 53px
}

/* CopyRight */
footer div.bottom {
  font-size: 0.8em;
  width: 100%;
  clear: left;
  padding-top: 10px;
  border-top: 1px solid grey;
}

footer div.bottom p.left {
  width: 50%;
  float: left;
  margin-left: 20px;
}

footer div.bottom p.right {
  width: 7;
  float: right;
}

footer a.footer {
  float: right;
  width: 10%;
  line-height: 16px;
  padding-left: 2px;
}

p {
  font-weight: 200;
}

.fa-facebook {
  color: #248AEF;
}

.fa-instagram {
  color: #E44560
}


@media only screen and (max-width: 500px) {


  header nav {
    display: none;
  }

  header aside.right {
    display: none;
  }
  /* header */
  header aside.left {
    display: block;
    margin-top: 10px;
    width: 50%;
    height: 85%;
    margin-left: 25%;
    margin-right: 25%;
  }

}
