@charser "utf-8";


aside.asideNavbar {
  display: none;
}

i#phone-icon {
  display: none
}


@media only screen and (max-width: 500px) {

  header {
    margin-top: 0px;
    height: 150px;
    display: block;
    background-color: white;
    position: fixed;
    top: 0px;
  }

  aside.asideNavbar {
    display: block;
  }

  nav.navbar {
    margin-top: -10px;
    display: block;
    position: fixed;
    left: -70%;
    width: 70%;
    border: none;
    opacity: 0;
    transition: left 0.40s ease-in-out, opacity 0.40s ease-in-out;
  }

  nav.navbar--open {
    left: 0;
    opacity: 1
  }

  i#navbar {
    font-size: 5em;
    position: fixed;
    margin-left: 15px;
    z-index: 1;
    left: 15px;
    top: 15px;
    color: #02A1DB;
  }


  ul.navbar {
    /* margin-top: -10px; */
    height: 100%;
    float: left;
    top: 50px;
    background-color: #02A1DB;
  }

  ul.navbar li {
    display: block;
    width: 100%;
    float: left;
    font-size: 3em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  div.border {
    display: block;
    float: left;
    width: 70%;
    background-color: white;
    height: 1px;
    margin-left: 15%;

  }

  ul.navbar li:first-of-type {
    margin-top: 210px;
  }

  ul.navbar li a:visited, ul.navbar li a:link {
    color: white;
  }

  ul.navbar li a {
    height: 100%;
  }

  ul.navbar li:active {
    background: #2094C0;
  }

/* Rossano's logo */
  div#logo {
    margin-top: 30px;
    text-align: center;
    display: block;
    position: absolute;
    left: 39%;
    background-image: url("logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 115px;
    height: 120px;
  }

  div#logo a {
    width: 100%;
    height: 100%;
    display: contents;
    line-height: 108px;
    font-size: 170%;
    font-weight: 200;
  }

  /* phone icon */

i#phone-icon {
  font-size: 5em;
  position: fixed;
  display: block;
  position: fixed;
  right: 25px;
  top: 15px;
  color: #02A1DB;

}



}
